<!-- views/devise/menu/_login_items.html.erb -->
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<h1>Welcome to Snack Overflow</h1>
<p>Get quick help from vetted developers,</p>
<p>Say thanks with a snack</p>

<p>Now, <a href="/questions/new">ask your question.</a>

<p>Or, why not try to <a href="/questions">answer a question that's already been asked.</a> YOU COULD EARN A SNACK.</p>

