<%= div_for response do %>
        <p>
                <%= response.content %>
                <br/>
                <em>
                        Posted <%= time_ago_in_words(response.created_at) %> ago by ADD USER INFO HERE
                </em>                
        </p>
<% end %>